<html>   
<head>   
    <title> Add a WhatsApp sharing image icon on a website </title>   
</head>   
  
<script>  
//user-defined function to open and share web content on WhatsApp  
function openWhatsApp() {  
    window.open('whatsapp://send?text=Hi There ! I am happy to share that I have contributed in surveying the quality of the roads in Bangalore! The experience was very contentful and a must try !');  
    }  
</script>  
  
<body>   
    <h2 style="color:brown"> Thank you for your contribution ! </h2>  
    <h3>Go ahead in sharing your volunteering experience on your socials and bring along your friends and family for this great cause ! 
        Let's make the city walkable !</h3> 
  
    <!-- create an image icon to open the WhatsApp onclick -->     
    <img src = "https://image.freepik.com/free-vector/whatsapp-icon-design_23-2147900927.jpg" height="50" size="50" onclick="openWhatsApp()">  
    <img src = "https://img.freepik.com/premium-vector/blue-social-media-logo_197792-1759.jpg?w=360" height="50" size="50" onclick="openWhatsApp()"> 
    <img src = "https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg" height="40" size="40" onclick="openWhatsApp()"> 
    <img src = "https://static.vecteezy.com/system/resources/previews/018/930/587/original/linkedin-logo-linkedin-icon-transparent-free-png.png" height="55" size="55" onclick="openWhatsApp()"> 
      
</body>   
</html>